<%- include ../includes/header %>

<div class="banner-section-other">
</div>


<div class="teacher-section-body">
<div><b>TECHBOW大弓科技 : 硅谷首个入职“保送”机构</b></div>
<div>帮助更多华人融入世界，从找工作开始. 总部位于美国硅谷的专业求职培训机构，算法，Web开发，iOS开发，Android开发，产品经理培训，产品设计，Startup必备知识，求职咨询，简历辅导，模拟面试，公司内推，Meetup 讲座，Workshop 课程，Refer 包装， TMPM 包找工作项目等。</div>
</div>

<div class="info-section-head">
  <div class="info-section-box" style="color: #2FD1AF; font-size: 25px">COURSES</div>
  <div class="info-section-box">TECHBOW课程</div>
  <hr>
</div>



<div class="courseall">
 <div class="coursesall-list object-non-visible" data-animation-effect="fadeInUp" data-effect-delay="100">
    <div class="course-img"><a href="course/1"><img src="images/systemDesign.png"></a></div>
    <div class="course-content">
      <div class="class-title">
        <div class="col-lg-3"><a href="course/1">系统设计</a></div>
        <div class="col-lg-3 course-mark">LA: 8/26</div>
        <div class="col-lg-3 course-mark">SV: 8/27</div>
      </div>
      <div class="class-description">系统设计和大数据是对算法的有力补充，在这里您能学到大公司面试除算法外的所有其他问题的解决方案，包括system design，O O design，Big data，Google一线面试官&工程师为你讲述。</div>
    </div>
 </div>

<div class="coursesall-list object-non-visible" data-animation-effect="fadeInUp" data-effect-delay="100">
    <div class="course-img"><img src="images/ux.png"></div>
    <div class="course-content">
      <div class="class-title">
        <div class="col-lg-5">UX Design</div>
        <div class="col-lg-3 course-mark">LA: 8/26</div>
        <div class="col-lg-3 course-mark">SV: 8/27</div>
      </div>
      <div class="class-description">8周连贯的UX产品设计课程，旨在帮助大家熟悉UX的流程，真正做到以用户为中心来做设计，为用户提供最好的交互体验。不用担心你不是设计背景，不用惧怕你不会画画，UX是一门科学而不是艺术。在这门课上，你讲学到：什么是UX，为什么UX这么火，什么是好的用户体验，做UX需要的必备技能（获取需求，wireframe，prototype，用户测试以及各种平台如iOS，安卓及网页设计）以及如何crack ux interview</div>
    </div>
 </div>

<div class="coursesall-list object-non-visible" data-animation-effect="fadeInUp" data-effect-delay="100"">
      <div class="course-img"><img src="images/ios.png"></div>
      <div class="course-content">
        <div class="class-title">
          <div class="col-lg-5">iOS开发基础班</div>
          <div class="col-lg-3 course-mark">LA: 8/26</div>
          <div class="col-lg-3 course-mark">SV: 8/27</div>
        </div>
        <div class="class-description">本课程适合零基础学员, 从Xcode怎么使用开始讲，APP based，理论少，实践多，入门班班，绝对零基础。</div>
        <div class="class-description">全课程使用swift语言开发。</div>
      </div>
   </div>

<div class="coursesall-list object-non-visible" data-animation-effect="fadeInUp" data-effect-delay="100"">
      <div class="course-img"><img src="images/web.png"></div>
      <div class="course-content">
        <div class="class-title">
          <div class="col-lg-5">Web开发基础班</div>
          <div class="col-lg-3 course-mark">LA: 8/26</div>
          <div class="col-lg-3 course-mark">SV: 8/27</div>
        </div>
        <div class="class-description">10周的密集网页开发课程，课程包括web基础知识和求职热门方向，包括HTML5, CSS3, JavaScript/JQuery, Nodejs/ExpressJS/Kraken, Bootstrap/SemanticUI, Template Language/Dustjs/EJS, BackboneJS/AngularJS, and etc. </div>
      </div>
   </div>

 <div class="coursesall-list object-non-visible" data-animation-effect="fadeInUp" data-effect-delay="100">
    <div class="course-img"><img src="images/bigData.png"></div>
    <div class="course-content">
      <div class="class-title">
        <div class="col-lg-4">大数据基础班</div>
        <div class="col-lg-3 course-mark">LA: 8/26</div>
        <div class="col-lg-3 course-mark">SV: 8/27</div>
      </div>
      <div class="class-description">本课程是SQL Big Data初级课程，适合零基础学员，商科转行做数据分析必备。</div>
    </div>
 </div>

 <div class="coursesall-list object-non-visible" data-animation-effect="fadeInUp" data-effect-delay="100">
    <div class="course-img"><img src="images/systemDesign.png"></div>
    <div class="course-content">
      <div class="class-title">
        <div class="col-lg-3">系统设计</div>
        <div class="col-lg-3 course-mark">LA: 8/26</div>
        <div class="col-lg-3 course-mark">SV: 8/27</div>
      </div>
      <div class="class-description">系统设计和大数据是对算法的有力补充，在这里您能学到大公司面试除算法外的所有其他问题的解决方案，包括system design，O O design，Big data，Google一线面试官&工程师为你讲述。</div>
    </div>
 </div>

</div>



<%- include ../includes/footer %>