<%- include ../includes/header %>

<div class="banner-section-other">
</div>


<div class="teacher-section-body">
<div><b>TECHBOW大弓科技 : 硅谷首个入职“保送”机构</b></div>
<div>帮助更多华人融入世界，从找工作开始. 总部位于美国硅谷的专业求职培训机构，算法，Web开发，iOS开发，Android开发，产品经理培训，产品设计，Startup必备知识，求职咨询，简历辅导，模拟面试，公司内推，Meetup 讲座，Workshop 课程，Refer 包装， TMPM 包找工作项目等。</div>
</div>

<div class="info-section-head">
  <div class="info-section-box" style="color: #2FD1AF; font-size: 25px">COURSES</div>
  <div class="info-section-box">系统设计</div>
  <hr>
</div>

<div class="course-detail">

  <div class="course-detail-all">
    <div class="title title-position">课程推荐</div>

    <div class="course-detail-all-list">
      <div style="flex: 1"><img src="../images/systemDesign.png"></div>
      <div class="course-detail-all-content" style="flex: 2">
        <div class="title">系统设计</div>
        <div>系统设计和大数据是对算法的有力补充.</div>
      </div>
    </div>

    <div class="course-detail-all-list">
      <div style="flex: 1"><img src="../images/systemDesign.png"></div>
      <div class="course-detail-all-content" style="flex: 2">
        <div class="title">系统设计</div>
        <div>系统设计和大数据是对算法的有力补充.</div>
      </div>
    </div>

    <div class="course-detail-all-list">
      <div style="flex: 1"><img src="../images/systemDesign.png"></div>
      <div class="course-detail-all-content" style="flex: 2">
        <div class="title">系统设计</div>
        <div>系统设计和大数据是对算法的有力补充.</div>
      </div>
    </div>

    <div class="course-detail-all-list">
      <div style="flex: 1"><img src="../images/systemDesign.png"></div>
      <div class="course-detail-all-content" style="flex: 2">
        <div class="title">系统设计</div>
        <div>系统设计和大数据是对算法的有力补充.</div>
      </div>
    </div>


    <div class="title">热门课程</div>
    <div><img src="../images/systemDesign.png"></div>


  </div>














  <div class="course-detail-info">
    <div class="section">
      <div class="title title-position">课程介绍</div>
      <div class="content">系统设计和大数据是对算法的有力补充，在这里您能学到大公司面试除算法外的所有其他问题的解决方案，包括system design，O O design，Big data，Google一线面试官&工程师为你讲述。系统设计和大数据是对算法的有力补充，在这里您能学到大公司面试除算法外的所有其他问题的解决方案，包括system design，O O design，Big data，Google一线面试官&工程师为你讲述。</div>
    </div>
    <div class="section">
      <div class="title title-position teacher">老师介绍</div>
      <div class="teacher">
        <div class="tacher-img"><img src="../images/career-shift.jpg"></div>
        <div class="content">
          <div class="title">yp</div>
          <div>     多年IT 行业从业经验，曾供职于一线IT， 金融公司(Fujitsu，Mckinsey，Bloomberg）。丰富的面试实战以及面试官经验，横扫湾区各大公司，曾经5战Google，就是那种传说中把google虐翻的牛人。精通C++/JAVA, Map reduce,大数据专家。精通各类算法，面试技巧， 讲解风趣幽默，结合实例，  深入浅出。曾经成功指导多名学员成功就职高盛，摩根斯坦利， Amazon等公司。</div>
        </div>
    </div>


    <div class="section">
      <div class="title title-position">课程规划</div>

      <div class="timeline">
        <div class="timeleft">
          <div>第一课时</div>
          <div class="cycle"></div>
        </div>
        <div class="content timecontent">系统设计和大数据是对算法的有力补充，在这里您能学到大公司面试除算法外的所有其他问题的解决方案，包括system design，O O design，Big data，Google一线面试官&工程师为你讲述。</div>
      </div>

      <div class="timeline">
        <div class="timeleft">
          <div>第二课时</div>
          <div class="cycle"></div>
        </div>
        <div class="content timecontent">系统设计和大数据是对算法的有力补充，在这里您能学到大公司面试除算法外的所有其他问题的解决方案，包括system design，O O design，Big data，Google一线面试官&工程师为你讲述。</div>
      </div>

      <div class="timeline">
        <div class="timeleft">
          <div>第三课时</div>
          <div class="cycle"></div>
        </div>
        <div class="content timecontent">系统设计和大数据是对算法的有力补充，在这里您能学到大公司面试除算法外的所有其他问题的解决方案，包括system design，O O design，Big data，Google一线面试官&工程师为你讲述。</div>
      </div>


      <div class="timeline">
        <div class="timeleft">
          <div>第四课时</div>
          <div class="cycle"></div>
        </div>
        <div class="content timecontent">系统设计和大数据是对算法的有力补充，在这里您能学到大公司面试除算法外的所有其他问题的解决方案，包括system design，O O design，Big data，Google一线面试官&工程师为你讲述。</div>
      </div>


    </div>





    <div class="section">
      <div class="title title-position">上课时间</div>
      <div class="content">系统设计和大数据是对算法的有力补充，在这里您能学到大公司面试除算法外的所有其他问题的解决方案，包括system design，O O design，Big data，Google一线面试官&工程师为你讲述。</div>
    </div>
    <div class="section">
      <div class="title title-position">上课地点</div>
      <div class="content">系统设计和大数据是对算法的有力补充，在这里您能学到大公司面试除算法外的所有其他问题的解决方案，包括system design，O O design，Big data，Google一线面试官&工程师为你讲述。</div>
    </div>
  </div>

</div>




<%- include ../includes/footer %>