<%- include ../includes/header %>

<div class="banner-section-other">
</div>


<div class="student-section-body">
<div><b>TECHBOW大弓科技 : 硅谷首个入职“保送”机构</b></div>
<div>帮助更多华人融入世界，从找工作开始. 总部位于美国硅谷的专业求职培训机构，算法，Web开发，iOS开发，Android开发，产品经理培训，产品设计，Startup必备知识，求职咨询，简历辅导，模拟面试，公司内推，Meetup 讲座，Workshop 课程，Refer 包装， TMPM 包找工作项目等。</div>
</div>

<div class="info-section-head">
  <div class="info-section-box" style="color: #2FD1AF; font-size: 25px">Student</div>
  <div class="info-section-box">成功学生</div>
  <hr>
</div>

<div class="tacher-page-content">
	<div class="tacher-each">
		<div class="student-each-header">
			MIA <br>
			Graduate Student (Background: EE)
		</div>
		<div class="tacher-each-content">
			多年IT 行业从业经验，曾供职于一线IT， 金融公司(Fujitsu，Mckinsey，Bloomberg）。丰富的面试实战以及面试官经验，横扫湾区各大公司，曾经5战Google，就是那种传说中把google虐翻的牛人。精通C++/JAVA, Map reduce,大数据专家。精通各类算法，面试技巧， 讲解风趣幽默，结合实例，  深入浅出。曾经成功指导多名学员成功就职高盛，摩根斯坦利， Amazon等公司。
		</div>
	</div>

		<div class="tacher-each">
		<div class="student-each-header">
			MIA <br>
			Graduate Student (Background: EE)
		</div>
		<div class="tacher-each-content">
			多年IT 行业从业经验，曾供职于一线IT， 金融公司(Fujitsu，Mckinsey，Bloomberg）。丰富的面试实战以及面试官经验，横扫湾区各大公司，曾经5战Google，就是那种传说中把google虐翻的牛人。精通C++/JAVA, Map reduce,大数据专家。精通各类算法，面试技巧， 讲解风趣幽默，结合实例，  深入浅出。曾经成功指导多名学员成功就职高盛，摩根斯坦利， Amazon等公司。
		</div>
	</div>


	<div class="tacher-each">
		<div class="student-each-header">
			MIA <br>
			Graduate Student (Background: EE)
		</div>
		<div class="tacher-each-content">
			多年IT 行业从业经验，曾供职于一线IT， 金融公司(Fujitsu，Mckinsey，Bloomberg）。丰富的面试实战以及面试官经验，横扫湾区各大公司，曾经5战Google，就是那种传说中把google虐翻的牛人。精通C++/JAVA, Map reduce,大数据专家。精通各类算法，面试技巧， 讲解风趣幽默，结合实例，  深入浅出。曾经成功指导多名学员成功就职高盛，摩根斯坦利， Amazon等公司。
		</div>
	</div>

	<div class="tacher-each">
		<div class="student-each-header">
			MIA <br>
			Graduate Student (Background: EE)
		</div>
		<div class="tacher-each-content">
			多年IT 行业从业经验，曾供职于一线IT， 金融公司(Fujitsu，Mckinsey，Bloomberg）。丰富的面试实战以及面试官经验，横扫湾区各大公司，曾经5战Google，就是那种传说中把google虐翻的牛人。精通C++/JAVA, Map reduce,大数据专家。精通各类算法，面试技巧， 讲解风趣幽默，结合实例，  深入浅出。曾经成功指导多名学员成功就职高盛，摩根斯坦利， Amazon等公司。
		</div>
	</div>

		<div class="tacher-each">
		<div class="student-each-header">
			MIA <br>
			Graduate Student (Background: EE)
		</div>
		<div class="tacher-each-content">
			多年IT 行业从业经验，曾供职于一线IT， 金融公司(Fujitsu，Mckinsey，Bloomberg）。丰富的面试实战以及面试官经验，横扫湾区各大公司，曾经5战Google，就是那种传说中把google虐翻的牛人。精通C++/JAVA, Map reduce,大数据专家。精通各类算法，面试技巧， 讲解风趣幽默，结合实例，  深入浅出。曾经成功指导多名学员成功就职高盛，摩根斯坦利， Amazon等公司。
		</div>
	</div>


	<div class="tacher-each">
		<div class="student-each-header">
			MIA <br>
			Graduate Student (Background: EE)
		</div>
		<div class="tacher-each-content">
			多年IT 行业从业经验，曾供职于一线IT， 金融公司(Fujitsu，Mckinsey，Bloomberg）。丰富的面试实战以及面试官经验，横扫湾区各大公司，曾经5战Google，就是那种传说中把google虐翻的牛人。精通C++/JAVA, Map reduce,大数据专家。精通各类算法，面试技巧， 讲解风趣幽默，结合实例，  深入浅出。曾经成功指导多名学员成功就职高盛，摩根斯坦利， Amazon等公司。
		</div>
	</div>



</div>

<%- include ../includes/footer %>