
	</div>
	<footer>

	<div class="email-section">
	  <div class="email-content">
	    <div class="email-description">TECHBOW 课程资讯</div>
	    <div class="email-combine">
	      <div class="email-input"><input placeholder="邮箱地址"></div>
	      <div class="email-input-i"><i class="fa fa-envelope fa-4x"></i></div>
	    </div>

	  </div>
	</div>


    <div class="footer-end">
			<div class="col-lg-3">© Copyright 2015 by Techbow</div>
      <div class="col-lg-offset-5 col-lg-3"><img src="images/logo@2x.png"></div>
		</div>
	</footer>



		<script src="/vendor/jquery/dist/jquery.min.js"></script>
		<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/vendor/jquery-appear/src/jquery.appear.js"></script>
		<script src="/javascripts/jquery.appear.js"></script>
		<script src="/vendor/modernizr/modernizr.js"></script>
		<script src="/javascripts/animation.js"></script>
	</body>
</html>